[submodule "mods/Minetest-WorldEdit"]
	path = mods/Minetest-WorldEdit
	url = https://github.com/Uberi/Minetest-WorldEdit
[submodule "mods/multiserver_api"]
	path = mods/multiserver_api
	url = https://github.com/HimbeerserverDE/multiserver_api
[submodule "mods/lucky_block"]
	path = mods/lucky_block
	url = https://notabug.org/TenPlus1/lucky_block
[submodule "mods/default"]
	path = mods/default
	url = https://github.com/EliasFleckenstein03/default
[submodule "mods/mcl_wither_spawning"]
	path = mods/mcl_wither_spawning
	url = https://github.com/EliasFleckenstein03/mcl_wither_spawning
[submodule "games/MineClone2"]
	path = games/MineClone2
	url = https://git.minetest.land/MineClone2/MineClone2
